/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
/* temporary fix */
html {
  background-color: white;
}
body {
  margin: 0;
}

.landing-container {
  /* border-color: red;
  border-style: double; */
  background-color: #E75E3E;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.5rem;
  padding: 7.6rem;
}

/* this needs to be moved up the page by about 15px */
.landing-title {
  color: white;
  font-family: "Lacquer", serif;
  font-weight: 800;
  font-style: bold;
  font-size: 60px;
  padding: 0.625rem;
}

.landing-img {
  float: right;
}

.approach-container {
  background-color: white;
}

.approach-title {
  color: BLACK;
  font-family: "Lacquer", serif;
  font-weight: 800;
  font-style: normal;
  margin-left: 10px;
  font-size: 48px;
 
}

.approach-text {
  color: BLACK;
}
